[Unit]
Description=OLED screen service
After=fitebox-buttons-controller.service

[Service]
User=osc
Group=osc
ExecStart=/home/osc/fitebox/oled_controller/.venv/bin/python /home/osc/fitebox/oled_controller/oled_controller.py
Restart=always

[Install]
WantedBy=graphical.target
