[Unit]
Description=Buttons service
After=network.target

[Service]
User=osc
Group=osc
WorkingDirectory=/home/osc/fitebox/oled_controller/
ExecStart=/home/osc/fitebox/oled_controller/.venv/bin/python /home/osc/fitebox/oled_controller/buttons_controller.py
Restart=always
StandardOutput=null
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=graphical.target
